.App {
  justify-content: center;
}

.visionet {
  height: auto;
  width: 35vw;
  max-width: 35rem;
}

.content {
    text-align: center; /* Optional: Center align text */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.network {
    text-align: center;
    /* display: inline-flexbox; */
  justify-content: center;
  /* align-items: center; */
  width: auto;
  height: auto;
}

.network-frame {
  height: 68.9vh;
  width: 60vw;
  display: flex;
  flex-direction: column;
  border-top: 5px solid #357aa1;
  border-left: 4px solid #357aa1;
  border-right: 4px solid #357aa1;
  border-bottom: 2px solid #357aa1;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: white;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

/* .network-frame.fullscreen {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.network-graph {
  height: 68.8vh;
  width: 60vw;
  overflow: hidden;
}

.network-graph.fullscreen {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%; 
  height: 100%; 
}

.network-graph svg {
  width: 100%;
  height: 100%;
}

.sigma-container {
  display: flex; /* Use flexbox to center */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  width: 100%; /* Optionally set width */
  height: 100%; /* Optionally set height */
  }
  

.speciesName {
    font-weight:normal;
    text-decoration: underline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:xx-large;
}

/* .buttons {
  display:inline;
} */

.network-buttons {
    align-items: center;
    display: inline-block;
    width: 60vw;
}

.fullscreen-button {
  font-weight:normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:x-large;
    border: 2px solid #357aa1;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 10vw;
    background-color: eggsalad;
    cursor: pointer;
}

.comparison-button {
    font-weight:normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:x-large;
    border: 2px solid #357aa1;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 40vw;
    background-color: greenyellow;
    cursor: pointer;
}

.screenshot-button {
  font-weight:normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:x-large;
    border: 2px solid #357aa1;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 10vw;
    background-color: #357aa1;
    cursor: pointer;
}

.loading-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  width: 60vw;
}

.loading-text {
    padding-top: 1vh;
    font-weight:normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:xx-large;
    color: #357aa1;
}

.species-detail-modal {
    width: 20vw;
    height: 68.9vh;
    border-top: 5px solid #357aa1;
    border-left: 5px solid #357aa1;
    border-right: 2px solid #357aa1;
    border-bottom: 5px solid #357aa1;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 8px;
    overflow-y: auto;
}

.detail-heading {
    text-decoration: underline;
    position: relative;
    display: flex;
    justify-content: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5vw;
    /* width: 100%; */
}

.species-details {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    position: relative;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    color: #357aa1;
    overflow: auto;
}

.taxonomy {
    justify-content: left;
    position: relative;
    width: 100%;
    display:inline-flex;
    overflow: hidden;
}

.species-details span {
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    color: black;
}

.hovered-node-label {
  font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
}

.visualisation-interface {
  display: flex;
  align-items: center;
  position: relative;
  width: 100vw;
  height: 68.9vh;
}

/* .comparison {
  display:flex; 
  flex-direction: column;
  position: relative;
  align-items: center;
} */

/* .force-graph-container {
  position: relative;
  width: 100%;
  height: 100%;
} */