.App {
  justify-content: center;
}

.visionet {
  height: auto;
  width: 35vw;
  max-width: 35rem;
}

.home-button {
  width: 11vw;
  aspect-ratio: 1.5/0.5;
  background-color: #357aa1;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  cursor: pointer;
  left: 0;
  position: absolute;
}

.home-icon {
  height: 2vh;
}

.content {
    text-align: center; /* Optional: Center align text */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.network {
    text-align: center;
    /* display: inline-flexbox; */
  justify-content: center;
  /* align-items: center; */
  width: auto;
  height: auto;
  user-select: none;
}

.network-frame {
  height: 68.9vh;
  width: 60vw;
  display: flex;
  flex-direction: column;
  border-top: 5px solid #357aa1;
  border-left: 4px solid #357aa1;
  border-right: 4px solid #357aa1;
  border-bottom: 2px solid #357aa1;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: white;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.network-graph {
  /* Size when not in fullscreen mode */
  height: 68.9vh;
  width: 60vw;
}

.network-graph.fullscreen {
  /* Remove size restrictions when in fullscreen mode */
  width: 100%;
  height: 100%;
  justify-content: center;
}

/* .network-graph svg {
  width: 100%;
  height: 100%;
}  */

.speciesName {
    font-weight:normal;
    text-decoration: underline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:xx-large;
}

.network-buttons {
    align-items: center;
    display: flex;
    width: 80vw;
    user-select: none;
}

.fullscreen-button {
  font-weight:normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:x-large;
    border: 3px solid black;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 5vw;
    /* height: 3vh; */
    background-color: eggsalad;
    cursor: pointer;
}

.comparison-button {
    font-weight:normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:x-large;
    border: 3px solid black;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 30vw;
    /* height: 3vh; */
    background-color: greenyellow;
    cursor: pointer;
}

.screenshot-button {
  font-weight:normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:x-large;
    border: 3px solid black;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 5vw;
    /* height: 3vh; */
    background-color: #357aa1;
    cursor: pointer;
}

.reload-button {
  font-weight:normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:x-large;
    border: 3px solid black;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 5vw;
    /* height: 3vh; */
    background-color: khaki;
    cursor: pointer;
}

.disease-button {
  font-weight:normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:x-large;
    border: 3px solid black;
    border-bottom-left-radius: 8px;
    /* border-bottom-right-radius: 8px; */
    width: 3vw;
    /* height: 3vh; */
    background-color: #734f96;
    color: black;
    cursor: pointer;
}

.disease-button:disabled {
  background-color: #734f96;
}

.visualised-disease {
  width: 12vw;
  height: 2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-bottom-right-radius: 8px;
  border: 3px solid black;
  border-left: #734f96;
  background-color: #DFC5FE;
}

.visualised-disease:disabled {
  cursor: not-allowed;
  color: black;
}

.disease-icon {
  color: black;
}

.interactome-button {
  font-weight:normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:x-large;
    border: 3px solid black;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 20vw;
    /* height: 3vh; */
    background-color: #357aa1;
    cursor: pointer;
}

.network-loading-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  width: 60vw;
}

.taxonomy-loading-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20vw;
    height: 68.9vh;
}

.page-loading-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.loading-text {
    padding-top: 1vh;
    font-weight:normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:xx-large;
    color: #357aa1;
}

.attributes {
  white-space: nowrap;
}

.network-view-left {
  display: flex;
  flex-direction: column;
  height: 68.9vh;
}

.interactome-data {
  height: 3vh;;
}

.species-detail-modal {
    width: 20vw;
    height: 68.9vh;
    border-top: 5px solid #357aa1;
    border-left: 5px solid #357aa1;
    border-right: 2px solid #357aa1;
    border-bottom: 1px solid #357aa1;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    overflow-y: auto;
    background-color: lightblue;
}

.attribute-title {
    font-weight:normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:x-large;
    text-decoration: underline;
    padding-bottom: 0.3vh;
}

.detail-heading {
    text-decoration: underline;
    position: relative;
    display: flex;
    justify-content: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5vw;
    user-select: none;
    padding-bottom: 0.2vh;
    /* width: 100%; */
}

.species-details {
    display:inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    position: relative;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    color: black;
    padding-bottom: 0.5vh;
    overflow: auto;
}

.comparison-value {
  color: #e45e19;
}

.species-details span {
  color: #e45e19;
  font-size: large;
  overflow:auto;
  justify-content: left;
  font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
}

.taxonomy {
    justify-content: left;
    position: relative;
    width: 100%;
    display:inline-flex;
    overflow: hidden;
}

.hovered-node-label {
  font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
}

.screen {
  display: flex;
  justify-content: row;
  height: 72.9vh;
}

.visualisation-pane {
  display: flex;
  flex-direction: column;
}

.visualisation-interface {
  display: flex;
  align-items: center;
  position: relative;
  width: 100vw;
  /* height: 68.9vh; */
}