.input-wrapper {
    background-color: white;
    transition: background-color 0.2s ease-in-out;
    /* width: 100%; */
    border-radius: 10px;
    border-bottom: 2px solid #357aa1;
    /* height: 3rem; */
    /* padding: 0 10px; */
    /* box-shadow: 0px 0px 8px #ddd; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-wrapper.filter-present {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 0;
  background-color: #357aa1;
}

.input-wrapper.filter-hover {
  background-color: #357aa1;
  border-bottom-left-radius: 0;
}

.search-bar {
  max-width:40vw;
  width: 40vw;
}

.search-input {
  width: 100%;
  height: 3vh;
  border-radius: 0;
  background-color: white;
}

.search-input.filter-present {
  border-top-left-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 10px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.search-input.filter-hover {
  border-top-left-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 10px;
}

.search-input.invalid-species {
  border-top: 2px solid red;
  border-bottom: 2px solid red;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.filter-button.closed {
    background-color: #357aa1;
    color: white;
    /* border-top-left-radius: 10px; */
    border-bottom-left-radius: 10px;
}

.filter-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-button {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: white;
  font-weight:normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    border: none;
    color: #357aa1;
    background-color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
    height: 3vh;
    cursor: pointer;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    /* height: 3rem; */
    padding: 0 10px;
}

.filter-button:hover {
  background-color: #357aa1;
  color: white;
  border-bottom-left-radius: 0;
}

.filter-absent {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}

.filter-present {
  max-height: 100%;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

input {
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 1.5rem;
    width: 90%;
    margin: 0 5px; /* Adjust the margin as needed */

}

input.invalid-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: red;
}

input:focus {
    outline: none;
}

.search-button {
  cursor: pointer;
  height: 3vh;
  justify-content: center;
  display: flex;
  background-color: white;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* .search-button.filter-present {
  border-bottom: 2px solid black;
} */

.search-button.invalid-species {
  border-top: 2px solid red;
  border-right: 2px solid red;
  border-bottom: 2px solid red;
}

.search-button:hover, #search-icon:hover {
  background-color: #357aa1;
}

.search-button.invalid-species:hover {
  background-color: red;
}


.search-icon {
    color: #357aa1;
    /* width: 2vh;
    height: 1vh; */
    font-size: 1.1rem;
    cursor: pointer;
    border: none;
    width: 3vw;
    background-color: transparent;
    border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.search-icon.invalid-species {
  color: red;
}

.search-icon:hover {
  color: white;
}

.filter-arrow-container {    
    padding-top: 8px;
    color: #357aa1;
    transform-origin: center;
  }

  .divider {
    height: 1.5vh; /* Adjust the height as needed */
    width: 1px;
    background-color: #357aa1; /* Color of the divider */
    position: relative;
  }

  .divider.invalid-species {
    background-color: red;
  }

  .search-divider {
    height: 3vh; /* Adjust the height as needed */
    width: 1px;
    background-color: #357aa1; /* Color of the divider */
    position: relative;
  }

  .search-divider.invalid-species {
    background-color: red;
  }

  .dropdown {
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
  }

  .dropdown-container {
    max-height: 15vh;
    overflow-y: auto;
    border: black;
    /* position: relative; */
  }

  .dropdown-row {
    border-bottom: 2px solid #ccc; 
    padding: 8px; 
    cursor: pointer;
    font-size: large;
  }

  /* .Filter {
    position: relative;
    padding-bottom: 100px;
  } */

  .results {
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    color: #357aa1;
    font-size: medium;
    user-select: none;
  }


