.comparison-widget {
    /* background-color: orange;
    width: 16.8vw;
    height: 49.2vh; */
}

.comparison-title {
    font-weight:normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:x-large;
    text-decoration: underline;
}