.comparison-widget {
    width: 20vw;
    height: 71.8vh;
    border-top: 5px solid #e45e19;
    border-left: 5px solid #e45e19;
    border-right: 5px solid #e45e19;
    /* justify-content: center; */
    align-items: center;
    border-radius: 5px;
    display:flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    background-color: orange;
    text-align: center;
}

.comparison-title {
    font-weight:normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:x-large;
    text-decoration: underline;
    padding-bottom: 0.3vh;
}

.species-overview {
    border: 2px solid #357aa1;
    border-radius: 8px;
    margin-bottom: 20px;
    background-color: #357aa1;
    height: 30vh;
}

.empty-text {
    background-color: #e45e19;
    height:15vh;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: x-large;
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    margin: auto;
}

.network-images {
    width: 19vw;
    height: 19vh;
    border: 2px solid #357aa1;
    border-radius: 8px;
}

.compare-network-button{
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 20vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 2px solid #e45e19;
    border-radius: 5px;
    background-color: darkorange;
    font-weight:normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    cursor: pointer;
    user-select: none;
}

.screen {
    display: inline-flex;
}

.comparison-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.species-name {
    text-decoration: underline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
    padding-bottom: 0.2vh;
    /* font-size: 1vw; */
}

.comparison-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    border-radius: 8px;
    padding-bottom: 1vh;
    height: 11vh;
}

.comparison-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
    width: 16vw;
    height: 10.5vh;
    border: 2px solid #357aa1;
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    overflow-y: auto;
}

.comparison-footer {
    justify-content: center;
    align-items: center;
    /* display: inline-flex; */
}

.cancel-comparison {
    color: red;
    cursor: pointer;
    font-size: xx-large;
    width: 3vw;
    background-color: white;
    border-radius: 10px;
}

.remove-comparison {
    background-color: white;
    border: none;
    height: 10.5vh;
    border-radius: 10px;
    cursor: pointer;
}

/* justify-content:right;
    position: absolute;
    width: 20vw;
    font-weight:normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:x-large;
    border: 2px solid #e45e19;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #FFAE42;
    cursor: pointer;
    right: 0; */