.comparison-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    height: 72vh;
    width: 20vw;
}

.comparison-widget {
    height: 68.9vh;
    width: 100%;
    border-top: 5px solid #e45e19;
    border-left: 5px solid #e45e19;
    border-right: 5px solid #e45e19;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display:flex;
    flex-direction: column;
    background-color: orange;
    text-align: center;
}

.comparison-title {
    font-weight:normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:x-large;
    text-decoration: underline;
    padding-bottom: 0.3vh;
}

.species-overview {
    border: 2px solid #357aa1;
    border-radius: 8px;
    margin-bottom: 20px;
    background-color: #357aa1;
    height: 30vh;
    text-align: left;
}

.empty-text {
    background-color: #e45e19;
    height:15vh;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: auto;
}

.network-images {
    width: 19vw;
    height: 19vh;
    border: 2px solid #357aa1;
    border-radius: 8px;
}

.compare-network-button{
    align-items: center;
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 3px solid black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: darkorange;
    font-weight:normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    cursor: pointer;
    user-select: none;
}

.compare-network-button:disabled {
    color: grey;
    cursor: not-allowed;
}

.screen {
    display: inline-flex;
}

.comparison-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.species-name {
    text-decoration: underline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
    text-align: center;
    padding-bottom: 0.2vh;
    cursor: pointer;
    /* font-size: 1vw; */
}

.species-name:hover {
    color: #357aa1;
}

.comparison-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    border-radius: 8px;
    padding-bottom: 1vh;
    height: 11vh;
}

.comparison-info {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
    width: 16vw;
    height: 10.5vh;
    border: 2px solid #357aa1;
    background-color: lightblue;
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    overflow-y: auto;
}

.comparison-footer {
    justify-content: center;
    align-items: center;
    /* display: inline-flex; */
}

.cancel-comparison {
    color: red;
    cursor: pointer;
    font-size: xx-large;
    width: 3vw;
    background-color: lightblue;
    border-radius: 10px;
}

.remove-comparison {
    background-color: lightblue;
    border: none;
    height: 10.5vh;
    border-radius: 10px;
    cursor: pointer;
}
