.App {
  background: linear-gradient(to right, #FDFCFB, #f5c69f);
  height: 100vh;
  width: 100vw;
  display: inline-flex;
}

.home {
  height: 100vh;
  width: 100vw;
}

/* .page-header {
  display: inline-flex;
} */

.visionet-features {
  left: 0;
  /* height: 100%; */
  position: absolute;
}

.main-title {
  padding-top: 0.5vh;
  font-weight: bold;
  text-decoration-line: underline;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size:xx-large;
  text-align: center;
}

.home-content {
  display: inline-flex;
  justify-content: center;
}

.visionet {
  height: auto;
  /* max-height: 10vh; */
  /* min-height: 2vh; */
  width: 35vw;
  max-width: 35rem;
  user-select: none;
}

.visionet-container {
  width: 100vw;
  height: auto;
  display: inline-flex;
  justify-content: center;
}

.search-bar-container {
  padding-top: 1vh;
  width: 20vw;
  height: 10vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: -95px;
  width: 100vw;
}

.species-pie-chart {
  padding-top: 0.5vh;
  height: 33vh;
  width: 33vw;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.filter-container {
  padding-top: 3vh;
  width:100;
  height: 10vh;
  /* left: 422px; */
  margin: auto;
  display:flex;
  flex-direction: column;
  align-items:center;
  min-width: 200px;
}

.comparison {
  top: 0;
  left: 0;
}

