.App {
  /* background-color: #F9E1CD; */
  /* background-color: #09143C; */
  height: 100vh;
  width: 100vw;
  display: inline-flex;
}

.light-theme {
  background-color: #F9E1CD;
}

.dark-theme {
  background-color: #09143C;
}

.visionet-features {
  left: 0;
  position: absolute;
}

.main-title {
  padding-top: 0.5vh;
  font-weight: bold;
  text-decoration-line: underline;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size:xx-large;
  text-align: center;
}

.home-content {
  display: inline-flex;
  justify-content: center;
  width: 100vw;
}

.home-visionet {
    height: auto;
    width: 35vw;
    max-width: 35rem;
    user-select: none;
}

.visionet {
  height: auto;
  width: 35vw;
  max-width: 35rem;
  user-select: none;
  cursor: pointer;
}

.visionet-container {
  width: 100vw;
  height: auto;
  display: inline-flex;
  justify-content: center;
}

.search-bar-container {
  padding-top: 1vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 5vh;
}

.species-pie-chart {
  padding-top: 0.5vh;
  height: 33vh;
  width: 33vw;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.filter-container {
  padding-top: 3vh;
  width:100;
  height: 10vh;
  margin: auto;
  display:flex;
  flex-direction: column;
  align-items:center;
  min-width: 200px;
}

.comparison {
  top: 0;
  left: 0;
}
